<%= bootstrap_form_for(document) do |f| %>
  <div class="field">
    <%= f.text_field :title, label: "Başlık" %>
  </div>

  <div class="field">
    <%= f.text_area :data, label: "Şifrelemek istediğiniz veri" %>
  </div>

  <div class="actions">
    <%= f.submit "Şifrele" %>
  </div>
<% end %>
