<% if @document && @document.published? %>
  <div class="text-center" style="margin-bottom: 36px;">
    <%= image_tag("encryption", width: 400) %>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ulaşmaya Çalıştığınız Şifreli Veri <br><small>(Sadece örnek amaçlı gösterilmektedir. Gerçek uygulamada bu alana erişim olmayacaktır.)</small></h3>
    </div>
    <div class="panel-body">
      <%= @document.encrypted_data %>
    </div>
    <div class="panel-footer">
      <%= render 'form' %>    
    </div>
  </div>
<% else %>
  <div class="text-center">
    <%= image_tag("deny_sign", size: "256x256") %>
    <h3>Yanlış bir adres girdiniz ya da ulaşmaya çalıştığınız sayfa erişimde değil!</h3>
  </div>
<% end %>
